.user {
	width: 100%;
	display: flex;
	gap: 20px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.name {
	font-size: 17px;
}

.status {
	font-size: 16px;
	opacity: 0.6;
}

.button {
	height: fit-content;
	flex-shrink: 0;
	background-color: #d9534f;
	font-size: 19px;
	padding: 7px 12px;
	border-radius: 5px;
}

.button:hover {
	background-color: #c9302c;
}
