.navbar {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	height: fit-content;
}

.item {
	font-size: 28px;
	color: inherit;
	border-radius: 5px;
	padding: 0 5px;
}

.item_active {
	color: #ac2925;
}

.item:not(.item_active):hover {
	background-color: #ac2925;
}
