.navigate {
	width: fit-content;
	display: flex;
	border-radius: 5px;
}

.navButton {
	font-size: 19px;
	padding: 6px 12px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
	background-repeat: no-repeat;
	background-position: center;
}

.navButtonDis {
	cursor: default;
}

.buttonArrow {
	width: 10px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center;
}

.buttonNext {
	background-image: url(../next.png);
}

.buttonPrev {
	background-image: url(../prev.png);
}

.buttonActive {
	background-color: #e6e6e6;
	color: #333;
	cursor: default;
}

.navButton:not(.buttonActive):not(.navButtonDis):hover {
	background-color: black;
}
